:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);

}

/*
font-family: 'Lexend Deca', sans-serif;
font-family: 'Big Shoulders Display', cursive;
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-light-gray-background-headings-buttons);
    width: 100vw;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.containerd{
    flex: 1 1 300px;
    flex: 0 1 300px;
}

.first{
    background-color: var(--Bright-orange);
}

.second{
    background-color: var(--Dark-cyan);

}
.third{
    background-color: var(--Very-dark-cyan);
}


.header{
    margin-left: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: var(--Very-light-gray-background-headings-buttons);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.description{
    margin-inline: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--Transparent-white-p);
    margin-block: 2rem ;
}

.btn{
    margin-left: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    text-decoration: none;
    width: 7rem;
    height: 2.5rem;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    background-color: var(--Very-light-gray-background-headings-buttons);
}

#orange{
    color: var(--Bright-orange);
    border: var(--Bright-orange) 1px solid;
}

#cyan{
    color: var(--Dark-cyan);
    border: var(--Dark-cyan) 1px solid;
}

#dark{
    color: var(--Very-dark-cyan);
    border: var(--Very-dark-cyan) 1px solid;
}

#img{
    margin: 2rem;
    width: 4rem;
    height: 2.5rem;
}